// sidebar
$menuText:black;
$menuActiveText:#409EFF;
$subMenuActiveText:black; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #f8fafd;
$menuBga: #fff;

$menuHover: #f8fafd; 

$subMenuBg :#f8fafd;
$subMenuHover: #f8fafd;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
